<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Y_Planner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Y_Planner.Properties.Settings>
            <setting name="Lat" serializeAs="String">
                <value>35.6309798101829</value>
            </setting>
            <setting name="Lng" serializeAs="String">
                <value>140.10317891836166</value>
            </setting>
            <setting name="Waypoint_Speed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CoreIPaddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CorePort" serializeAs="String">
                <value>53799</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="YPlannerVersion" serializeAs="String">
                <value>1.2.1</value>
            </setting>
            <setting name="APFCVersion" serializeAs="String">
                <value>3.4.1</value>
            </setting>
            <setting name="Waypoint_Threashold" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Waypoint_Wait" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>国土地理院地図(航空)</value>
            </setting>
            <setting name="Function1" serializeAs="String">
                <value>xxx</value>
            </setting>
            <setting name="Function2" serializeAs="String">
                <value>xxx</value>
            </setting>
            <setting name="Function3" serializeAs="String">
                <value>xxx</value>
            </setting>
        </Y_Planner.Properties.Settings>
    </userSettings>
</configuration>