<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XMonitor_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <XMonitor_GUI.Properties.Settings>
            <setting name="MainWindow_Width" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="MainWindow_Height" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="MainWindow_Left" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MainWindow_Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Lat" serializeAs="String">
                <value>35.6309798101829</value>
            </setting>
            <setting name="Lng" serializeAs="String">
                <value>140.10317891836166</value>
            </setting>
            <setting name="CoreIPaddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CorePort" serializeAs="String">
                <value>53799</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>COM0</value>
            </setting>
            <setting name="AlertLink" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="AlertRCrec" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="VoltageMin" serializeAs="String">
                <value>3.4</value>
            </setting>
            <setting name="VoltageMax" serializeAs="String">
                <value>4.2</value>
            </setting>
            <setting name="AlertVoltage" serializeAs="String">
                <value>3.7</value>
            </setting>
            <setting name="PowerStatus_level3" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PowerStatus_level2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PowerStatus_level1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FlightLogReplyWait" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FlightPlanReplyWait" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Waypoint_Speed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Initialization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertLinkSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlertVoltageSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlertLinkView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlertVoltageView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMonitorVersion" serializeAs="String">
                <value>1.2.1</value>
            </setting>
            <setting name="APFCVersion" serializeAs="String">
                <value>3.4.1</value>
            </setting>
            <setting name="AlertGPS" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AlertGPSView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LatSub" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LngSub" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>国土地理院地図(航空)</value>
            </setting>
            <setting name="AlertRepeatTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ACSLMessageNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ACSLMessageDate" serializeAs="String">
                <value>08/07/2015 22:28:00</value>
            </setting>
            <setting name="ACSLMessageFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertGPSSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Function1" serializeAs="String">
                <value>xxx</value>
            </setting>
            <setting name="Function2" serializeAs="String">
                <value>xxx</value>
            </setting>
            <setting name="Function3" serializeAs="String">
                <value>xxx</value>
            </setting>
        </XMonitor_GUI.Properties.Settings>
    </userSettings>
</configuration>